<article id="keyboard-codes">
	<h2>Keyboard key codes</h2>
	<p>Each key on the keyboard has a code number that you can use with the <code>INKEY(k)</code> function, to test if the key
	is being pressed. This is common in most games as you have to have controls!</p>
	<p>This graphic represents the CPC6128 keyboard, which is similar but not the same as your computer's keyboard. For the
		most part it's probably the same. The table below the chart shows the keys that Bustout uses. Key codes from 72 are for a
		joystick, so you can ignore them.
	</p>
	<center><img src="{{ base_uri }}/img/cpc/keyboard-codes.png"></center>
	<table border="1" cellpadding="5">
		<thead>
			<tr>
				<th>Key code</th>
				<th>Key name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>0</td>
				<td>Up</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Down</td>
			</tr>
			<tr>
				<td>8</td>
				<td>Left</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Right</td>
			</tr>
			<tr>
				<td>47</td>
				<td>Spacebar</td>
			</tr>
		</tbody>
	</table>
</article>
